* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

main {
    min-height: 90vh;
    min-width: 100vw;
}

.input-group {
    font-size: 20px;
    font-weight: 600;
    padding-left: 1rem;
}

.form-control {
    width: 100%;
    height: 40px;
    border-color: rgb(61, 55, 55);
    border-width: thin;
    padding: 0 15px;
}

.previous-search-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-style: inset;
}

.weather-now-container {
    display: flex;
    border-style: inset;
}

.weather-now-title {
    font-size: 40px;
    margin: 15px 0 20px 20px;
}

.now-temp, .now-hum, .now-wind {
    margin: 15px 20px;
    font-size: 20px;
}

.city-search {
    padding-left: .4rem;
}

header {
    height: auto;
}

footer {
    position: relative;
}